body {
    background-color: lightpink;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-family: verdana;
    color: purple;
    font-size: 4rem;
}

h2 {
    font-family: arial;
    color: orange;
    font-size: 2rem;
}

.odd {
    color: green;
}

p {
    font-size: 1rem;
}

.center {
    text-align: center;
}

a {
    text-decoration: none;
}

#underlined {
    text-decoration: underline;
}